@model EmpireMap.Models.Castle
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Castle</legend>

        @Html.HiddenFor(model => model.CastleId)
        @Html.HiddenFor(model => model.PlayerId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.X)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.X)
            @Html.ValidationMessageFor(model => model.X)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Y)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Y)
            @Html.ValidationMessageFor(model => model.Y)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAp)
            @Html.ValidationMessageFor(model => model.IsAp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Storage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Storage)
            @Html.ValidationMessageFor(model => model.Storage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MapId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.MapId, (IEnumerable<SelectListItem>)ViewBag.MapList)
            @Html.ValidationMessageFor(model => model.MapId)
        </div>

        <p>
            <input type="submit" value="Speichern" />
        </p>
        <p>@Html.ActionLink("Abbrechen","Index")</p>
    </fieldset>
}