@model ICollection<EmpireMap.Models.Castle>
<h5>Deine Burgen</h5>
<div id="castle-list">
    @if (Model.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>AP</th>
                    <th>Karte</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var castle in Model)
                {
                    <tr>
                        <td>@castle.Name</td>
                        <td>@castle.X</td>
                        <td>@castle.Y</td>
                        <td>@if (castle.IsAp)
                            {<text>Ja</text>}</td>
                        <td>@castle.Map.Name</td>
                        <td>
                            @Html.ActionLink("Bearbeiten", "EditCastle", new { Id = castle.CastleId }, new { @class = "castle-edit" })
                            @Html.ActionLink("Löschen", "DeleteCastle", new { Id = castle.CastleId }, new { @class = "castle-delete" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Du hast noch keine Burgen angelegt.</p>
    }
    <p>
        @Html.ActionLink("Neue Burg anlegen", "Create", "Castle")
    </p>
    <div id="castleedit"></div>
    <script type="text/javascript">
        $(function () {
            $(".castle-edit").button({ icons: { primary: "ui-icon-pencil" }, text: false });
            $(".castle-delete").button({ icons: { primary: "ui-icon-trash" }, text: false });
        });
    </script>
</div>

