@model ICollection<EmpireMap.Models.Castle>
<h5>Deine Burgen</h5>
<div id="castle-list">
    @if (Model.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>AP</th>
                    <th>Karte</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var castle in Model)
                {
                    <tr>
                        <td>@castle.Name</td>
                        <td>@castle.X</td>
                        <td>@castle.Y</td>
                        <td>@if (castle.IsAp)
                            {<text>Ja</text>}</td>
                        <td>@castle.Map.Name</td>
                        <td>
                            @Html.ActionLink("Bearbeiten", "EditCastle", new { Id = castle.CastleId }, new { @class = "castle-edit" })
                            @Html.ActionLink("Löschen", "DeleteCastle", new { Id = castle.CastleId }, new { @class = "castle-delete" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Du hast noch keine Burgen angelegt.</p>
    }
    <p>
        @Html.ActionLink("Neue Burg anlegen", "CreateCastle")
    </p>
    <div id="dlgdelete" title="Burg löschen?">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span></p>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".castle-edit").button({ icons: { primary: "ui-icon-pencil" }, text: false });
            $(".castle-delete").button({ icons: { primary: "ui-icon-trash" }, text: false });
            $("#dlgdelete").hide();

            $("a.castle-delete").click(function(evt) {
                evt.preventDefault();
                var url = this.href //$(this).href;
                var tr = $(this).parents("tr");
                var name = $(tr).children("td:first").contents()[0].data;
                $("#dlgdelete").children("p").append("<span id='confmsg'>Die Burg " + name + " wirklich löschen?</span>");
                $("#dlgdelete").show().dialog({
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Löschen": function () {
                            $.post(url, "", function () {
                                tr.remove();
                            });
                            $("#confmsg").remove();
                            $(this).dialog("close");
                            
                        },
                        "Abbrechen": function () {
                            $("#confmsg").remove();
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
    </script>
</div>

