@model EmpireMap.Models.RegisterModel
@{
    ViewBag.Title = "Registrierung";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Erstelle einen neuen Account.</h2>
</hgroup>
<p>
    Bitte melde Dich nach der Registrierung im <a href="http://bravehearts.xobor.de/" target="_blank">Forum</a> oder ingame bei einem General
    für die Freischaltung. 
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Benutzerdaten</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Registrieren" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
