<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Braveheart Karte</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js")
    <script src="~/Scripts/d3.v3.js"></script>
    <script src="~/Scripts/d3map.js"></script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Braveheart Karte", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        @if (User.IsInRole("Benutzer"))
                        {
                            <li>@Html.ActionLink("Karten", "Index", "Application")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Startseite", "Index", "Home")</li>                                
                        }
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Verwaltung", "Index", "Player")</li>
                        }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Führung"))
                        {
                            <li>@Html.Action("Link", "UserAdmin")</li>
                        }
                        <li>@Html.ActionLink("Info", "About", "Home")</li>
                        <li>@Html.ActionLink("Impressum", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Markus Zywitza</p>
            </div>
        </div>
    </footer>
</body>
</html>
