@model EmpireMap.Models.MapCastleModel
@{
    ViewBag.Title = "Kartensammlung";
}

<div id="mapselector">
    @foreach (var map in Model.Maps)
    {
        @Html.ActionLink(map.Name, "Index",new {id=map.MapId})
    }
</div>
<h2>Karte @Model.Maps.Single(m=>m.MapId == Model.Id).Name</h2>
<div id="tabs">
    <ul>
        <li><a href="#map">Karte</a></li>
        <li><a href="#grid">Tabelle</a></li>
    </ul>
    <div id="map">
    </div>
    <div id="grid">
        <div id="selectedCastle"><h5>Klicke auf eine Zeile um die Entfernung zu berechnen...</h5></div>
        <table id="gtable">
            <thead>
                <tr>
                    <th>Spieler</th>
                    <th>Burg</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>AP</th>
                    <th>Entfernung</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Castles)
                {
                    <tr>
                    <td>@c.Player.Name</td>
                    <td>@c.Name</td>
                    <td>@c.X</td>
                    <td>@c.Y</td>
                    <td>@(c.IsAp ? "AP" : "HB")</td>
                        <td class="distance"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();

        var oTable;
        $("#gtable tbody tr").click(function (e) {
            oTable.$("tr.row_selected").removeClass("row_selected");
            $(this).addClass("row_selected");

            var player = $(this).children("td:nth-child(1)").text();
            var castle = $(this).children("td:nth-child(2)").text();
            var x = $(this).children("td:nth-child(3)").text();
            var y = $(this).children("td:nth-child(4)").text();
            $("#selectedCastle").html("<h5>Entfernungen zu " + castle + " (" + player + ") " + x + "/" + y + "</h5>");

            var cx = parseInt(x, 10);
            var cy = parseInt(y, 10);
            $("#gtable tbody tr").each(function (i, elmt) {
                var x = $(this).children("td:nth-child(3)").text();
                var y = $(this).children("td:nth-child(4)").text();
                
                var dist = Math.ceil(Math.sqrt((cx - x) * (cx - x) + (cy - y) * (cy - y)));
                var pos = oTable.fnGetPosition(this);
                oTable.fnUpdate(dist, pos, 5);
            });
        });

        oTable = $("#gtable").dataTable({
            "bJQueryUI": true,
            "bPaginate": false,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": false,
            oLanguage : {
                sSearch: "Suche:"
            },
            "aoColumns": [
                  null,
                  null,
                  { "sSortDataType": "dom-text", "sType": "numeric" },
                  { "sSortDataType": "dom-text", "sType": "numeric" },
                  null,
                  { "sSortDataType": "dom-text", "sType": "numeric" }
            ]
        });
    });

    // Karte
    $(function () {
        var data = [];
        $("#gtable tbody tr").each(function (index, element) {
            var player = $(element).children("td:nth-child(1)").text();
            var castle = $(element).children("td:nth-child(2)").text();
            var x = parseInt($(element).children("td:nth-child(3)").text());
            var y = parseInt($(element).children("td:nth-child(4)").text());
            var ap = $(element).children("td:nth-child(5)").text();
            
            data.push({ caption: player + " (" + ap + ":" + castle + ")", x: x, y: y });
        });
        //data.each(function (i, e) { console.log(e.caption) });
        var minX = d3.min(data, function (e) { return e.x; })-5,
            minY = d3.min(data, function (e) { return e.y; })-5,
            maxX = d3.max(data, function (e) { return e.x; })+5,
            maxY = d3.max(data, function (e) { return e.y; })+5;

        
        console.log("x: " + minX + "," + maxX + " y: " + minY + "," + maxY);

        var w = 900,
            h = 700;
        var karte = d3.select("#map").append("svg:svg").attr("width", w).attr("height", h);

        var x = d3.scale.linear().domain([minX, maxX]).range([0, w]);
        var y = d3.scale.linear().domain([minY, maxY]).range([0, h]);

        var grp = karte.selectAll(".group-castle").data(data).enter()
            .append("svg:g")
            .attr("transform", function (d) { return "translate("+x(d.x)+","+y(d.y)+")"; })
            .attr("class", function () { return "group-castle"; });

        grp.append("svg:circle")
            .attr("r", function () { return 4; });

        grp.append("svg:text")
            .attr("text-anchor", "end")
            .attr("dy", -4)
            .attr("dx", -6)
            .text(function (d) { return d.caption; });

    });
</script>